@model LvlUpBlog.Models.PagedData<LvlUpBlog.Models.Post>
@using LvlUpBlog.Models

@foreach (Post post in Model)
{
    @Html.Partial("_PostPartial", post)
}

<ul class="list-unstyled">
    <!-- Go to next page posts -->
    @if (Model.HasPreviousPage)
    {
        <li class="pull-left">
            <a href="@Url.Action(null, new{page=Model.PreviousPage})" class="btn btn-primary"></a>
            <span class="glyphicon glyphicon-chevron-left"></span> Previous
        </li>
    }

    <!-- Go to previous page posts -->
    @if (Model.HasNextPage)
    {
        <li class="pull-left">
            <a href="@Url.Action(null, new{page=Model.NextPage})" class="btn btn-primary"></a>
            Next <span class="glyphicon glyphicon-chevron-right"></span>
        </li>
    }

</ul>

