.site-nav{
    padding-top : 20px;
    background : #6F0D18; 
    
}
.site-nav a{
    color : #eeeeee;
    text-transform : uppercase;
    letter-spacing : 1px;
    font-weight : bold;
}

.site-nav a:hover{
    color : orange;
    text-decoration : none;
}

.btn-primary{
    background : #6F0D18;
    border : 1px solid black;
    border-radius : 0;
}
.btn-primary:hover, btn-primary.focus, btn-primary:focus{
    background-color : red;
}

.clicked{
    background-color : red; 
}


/* Sticky Footer Section */
/* ------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body{
   margin-bottom : 70px;        /* Push body up slighly so that footer contents does not overlap */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Optional fixed height of footer */
  background: #2C3E50;
  color : #eeeeee;
  padding : 20px; 
}


/* Field Validation Section*/
/* ------------------------------------------------------------------------- */

.field-validation-error{
    color : red; 
}

.field-validation-valid{
    display : none; 
}

.input-validation-error{
    border : 1px solid red; 
    background-color : #ffeeee;  
}

.validation-summary-errors{
    color : red; 
    background : #FFEEEE;
    padding : 10px; 
    border-radius : 5px; 
    margin-bottom : 10px;
}

.panel-default .panel-heading{
    background-color : #4B4B4B;
    color : white;
}

.level-panel h2{
    margin-top : 0;
}

.level-panel .progress{
    height: 30px;
}

.level-panel .table{
    margin-bottom : 5px;
}

.level-image{
    height : 100px; 
    width : 100px; 
}


.list-padding li{
    margin-right : 5px;
}