.post-header h1{
    margin: 0; 
    color: #D9534F;
}

.time-box{
    display:inline-block;
    text-align:center; 
    background: #6F0D18; 
    color : white; 
    padding: 10px; 
    margin-right: 10px;
}

.time-footer{
    background:#EFE8DC; 
    display:inline-block; 
    padding:5px;
}

.post-body{
    border-bottom: 1px solid #EFE8DC;
    padding:20px;
}

.post-border{
    border-bottom: 1px solid #EFE8DC;
}

.post-footer .well{
    border-radius: 10px; 
    background: #F2DEDE; 
    padding: 10px;
}

.post-footer .post-tag-links{
    padding-left: 8px;
    color : #D9534F;
}
.post-footer .post-tag-links:hover{
    font-weight : bold; 
    text-decoration : none;
}

.post-comments{
    margin:40px 0; 
    border-top: 5px solid #D9534F; 
    padding-top: 10px;
}

.post-comments .well{
    border-radius: 10px; 
    background: #F2DEDE; 
    padding: 10px;
}

.post-comments h3{
    margin:0;
}


.comment .comment-body{
    background: #F9F5F0;
    font-size: 0.9em;
    padding : 0px 10px 10px 10px;
}

.comment a[data-comment-delete]{
    position : absolute; 
    top: 0;
}

.comment .comment-header{
    font-size: 0.8em;
}

.comment .comment-header > span{
    font-size: 35px;
}

.tall-button{
   height:68px; 
   width: 80px;
}